// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff;
$color-primary: #00194e;
$color-secondary: #00194e;
$color-tertiary: #199473;
$color-quaternary: #65d6ad;
$color-quinary: #effcf6;
