@import "Base";
@import "Color";

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  ul {
    display: flex;
    li {
      list-style: none;
      margin: 0 1.5rem;
    }
  }
  a {
    text-decoration: none;
  }
  nav a {
    transition: all 0.2s ease-out;
  }
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
}
a {
  color: #00194e;
}
.posts {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(auto-fill, minmax(26%, 1fr));
}

.hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  img {
    width: 40%;
  }
}
